// Reusable animation mixins
@mixin typewriter($duration: 3s, $steps: 26, $delay: 1s) {
  animation: typewriter $duration steps($steps) $delay 1 normal both,
    blinkTextCursor 500ms steps($steps) infinite normal;
}

@mixin appear($duration: 1.5s, $delay: 2s) {
  opacity: 0;
  animation: appear $duration $delay forwards;
}

// Keyframes
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(0, 0, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Typewriter effect
.type {
  color: #0000;
  background: linear-gradient(-90deg, #000000 5px, #0000 0) 10px 0,
    linear-gradient(#000000 0 0) 0 0;
  background-size: calc(var(--n) * 1ch) 200%;
  -webkit-background-clip: padding-box, text;
  background-clip: padding-box, text;
  background-repeat: no-repeat;
  animation: blink 0.7s infinite steps(1),
    type calc(var(--n) * 0.05s) steps(var(--n)) forwards;
}

@keyframes type {
  from {
    background-size: 0 200%;
  }
}
@keyframes blink {
  50% {
    background-position: 0 -100%, 0 0;
  }
}

.appear {
  @include appear();
}
