//import partials
@use "./colors";
@use "./mixins";
@use "./fonts";

a {
  //spacing
  padding: 2px 5px 2px 5px;
  //colors
  color: colors.$black-olive;
  //gets rid of underline
  text-decoration: none;
  //microinteractions
  &:hover {
    color: colors.$mint;
  }
}

button {
  @include fonts.space-mono;
  //default button styles
  border-radius: 20px;
  display: flex;
  justify-items: center;
  //pointer hand
  cursor: pointer;
  background-color: transparent;
  border: 1px solid black;
  margin: 0 0.2rem;
  fill: black;

  &:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }
}

#skip-button {
  @include fonts.space-mono;
  //default button styles
  border-radius: 20px;
  display: flex;
  justify-items: center;
  //pointer hand
  cursor: pointer;
  background-color: transparent;
  border: 1px solid black;
  margin: 0 0.2rem;
  fill: white;

  &:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }
}
