//import partials
@use "./colors";
@use "./mixins";
@use "./fonts";

a {
  //spacing
  padding: 2px 5px 2px 5px;
  //colors
  color: colors.$black-olive;
  //gets rid of underline
  text-decoration: none;
  //microinteractions
  &:hover {
    color: colors.$mint;
  }
}
