

//import partials
@use "../partials/colors";
@use "../partials/fonts";
@use "../partials/mixins";


a {
    text-decoration: none;
    font-family: "Space Mono", monospace;
    font-weight: 500;
    font-style: normal;
    padding: 2px 5px 2px 5px;
    color: colors.$black-olive;
    &:hover {
        color: colors.$mint;
    }
}


#logo {
    height: 20px;

}

.CTA-button{
    text-align: center;
    color: colors.$black-olive;
    
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    

    &:hover {
        color: colors.$beige;
        background-color: colors.$black-olive;
    }
}



