@use "./colors";

// SECTION - MAIN HEADING

@mixin silkscreen($weight: 400) {
  font-family: "Silkscreen", sans-serif;
  font-style: normal;
  font-weight: $weight;
  margin: 0;
}

// SECTION - SUBHEADING FONTS

@mixin vt323-regular($font-size: 200%, $margin: 2%) {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: $font-size;
  margin: $margin;
}

@mixin dotgothic16-regular($margin: 0) {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: $margin;
}

// SECTION - BODY FONTS

@mixin roboto-mono($weight: normal, $style: normal) {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: $style;
}

@mixin space-mono($weight: 400, $style: normal) {
  font-family: "Space Mono", monospace;
  font-weight: $weight;
  font-style: $style;
}
