//Import partials
@use "./colors";

//applied to all main headings
h1 {
  padding: 50px 5%;
  text-align: center;
  color: colors.$black-olive;
}

//applies to all subheadings
h2 {
  padding: 30px 5%;
  color: colors.$black-olive;
  width: 100%;
}

//applies to all paragraphs
p {
  height: fit-content;
  width: fit-content;
}

#logo-text {
  //sizing
  width: fit-content;
  margin: 0;
  padding: 0;
}

#projects {
  color: aliceblue;
  a {
    color: inherit;
  }
  h2 {
    color: inherit;
  }
}

///////// MAIN HEADING FONTS ///////////////////////////////////////////////////////

//Font 1: Silkscreen
.silkscreen {
  &--regular {
    font-family: "Silkscreen", sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
  }
  &--bold {
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
  }
}

///////// SUBHEADING FONTS ///////////////////////////////////////////////////////

//Font 1: VT323
.vt323--regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 200%;
  margin: 2%;
}

//Font 2: DotGothic16
.dotgothic16--regular {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

///////// BODY FONTS ///////////////////////////////////////////////////////

//Font 1: Roboto Mono

//CSS class for a variable style
// <weight>: Use a value from 100 to 700
// <uniquifier>: Use a unique and descriptive class name

.roboto-mono--normal {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

//Font 2: Open Sans//

// <weight>: Use a value from 300 to 800
// <uniquifier>: Use a unique and descriptive class name

.open-sans--normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

//Font 3: Space Mono

.space-mono {
  &--regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    &--italic {
      font-style: italic;
    }
  }
  &--bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    &--italic {
      font-style: italic;
    }
  }
}
