//import partials
@use "./mixins";

img {
  //round corners
  border-radius: 20px;
  //sizing
  @include mixins.max100;
  width: fit-content;
  object-fit: contain;
}

#personal-logo {
  //sizing
  max-height: 30px;
}

.techstack__item {
  //sizing
  img {
    max-height: 30px;
  }
}
