
$red-border :  1px dotted red;
$green-border :  1px dotted green;

//brand colors

/* SCSS HEX */
$mint: #70BD9Aff;
$peach-yellow: #ECD69Cff;
$beige: #D5D9B4ff;
$black: #000000ff;
$black-olive: #2F3328ff;


