
//import partials
@use "./partials/colors";
@use "./partials/fonts";
@use "./partials/mixins";
@use "./partials/wrappers";
@use "./partials/clickables";
@use "./partials/media-queries";

// import sections
@use "./sections/nav";
@use "./sections/header";
@use "./sections/about";
@use "./sections/projects";
@use "./sections/contact";
@use "./sections/footer";
@use "./sections/techstack";


// ///* Block component */
// .btn {}

// /* Element that depends upon the block */ 
// .btn__price {}

// /* Modifier that changes the style of the block */
// .btn--orange {} 
// .btn--big {}



*{
    box-sizing: border-box;
    
}

html, body{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}



button{
    border-radius: 20px;
}

img{

    border-radius: 20px;
    @include mixins.max100;
    height: auto;
    width: fit-content;
    object-fit:contain;
}
