@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(0, 0, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.type {
  color: rgba(0, 0, 0, 0);
  background: linear-gradient(-90deg, #000000 5px, rgba(0, 0, 0, 0) 0) 10px 0, linear-gradient(#000000 0 0) 0 0;
  background-size: calc(var(--n) * 1ch) 200%;
  -webkit-background-clip: padding-box, text;
  background-clip: padding-box, text;
  background-repeat: no-repeat;
  animation: blink 0.7s infinite steps(1), type calc(var(--n) * 0.05s) steps(var(--n)) forwards;
}

@keyframes type {
  from {
    background-size: 0 200%;
  }
}
@keyframes blink {
  50% {
    background-position: 0 -100%, 0 0;
  }
}
.appear {
  opacity: 0;
  animation: appear 1.5s 2s forwards;
}

/* SCSS HEX */
a {
  padding: 2px 5px 2px 5px;
  color: #2f3328;
  text-decoration: none;
}
a:hover {
  color: #70bd9a;
}

#home-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#skip-button {
  text-align: center;
  border-radius: none;
  filter: brightness(0.8);
  background: none;
  border: none;
}
#skip-button:hover {
  color: #d5d9b4;
  transform: scale(1.05);
}
#skip-button:hover ::shadow {
  padding: 20px 40px;
}
#skip-button p {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 40%;
  width: 100px;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0;
  text-shadow: 0 5px 16px #000;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 200%;
  margin: 2%;
}

img {
  border-radius: 20px;
  max-height: 100%;
  max-width: 100%;
  width: fit-content;
  object-fit: contain;
}

#personal-logo {
  max-height: 30px;
}

.techstack__item img {
  max-height: 30px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 50px 0;
}
@media only screen and (min-width: 600px) {
  .about {
    padding: 40px;
  }
}
@media only screen and (min-width: 900px) {
  .about {
    padding: 60px;
  }
}
.about__aside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.about__aside img {
  max-width: 300px;
  margin: 50px;
}
.about__img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: none;
  overflow: hidden;
}
.about__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 30px;
  width: fit-content;
  min-width: 300px;
  max-width: 30%;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 50px 0;
}
@media only screen and (min-width: 600px) {
  .contact {
    padding: 40px;
  }
}
@media only screen and (min-width: 900px) {
  .contact {
    padding: 60px;
  }
}
.contact h2 {
  text-align: center;
}
.contact ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.contact ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact ul li a {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 10px;
  padding: 40px;
  text-indent: 10px;
  font-size: large;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2vw;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 1vh;
  height: 5vh;
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.488);
  color: #2f3328;
}
@media only screen and (min-width: 900px) {
  .nav {
    display: flex;
  }
}
.nav p {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
}
.nav div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.nav_links, .nav_socials, .nav_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav_links {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  padding: 10px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 98vh;
  width: 100vw;
  margin: 0;
  padding: 2em;
}
header h1,
header h2 {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}
header h1 {
  margin-bottom: 0.5em;
  font-size: 3rem;
}

#projects {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#projects ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.projects__card {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  border: 1px solid #2f3328;
  overflow: hidden;
  margin: 15px;
}
.projects__card:hover {
  background-color: rgba(112, 112, 112, 0.271);
}
.projects__card figcaption {
  display: none;
}

.project__title {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
.project__tech {
  display: block;
  font-size: 0.8em;
  font-weight: 200;
  padding-top: 1em;
}
.project__body {
  padding: 1em 2.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project__media {
  height: 300px;
  margin: 0;
  padding: 0;
}
.project__media-link {
  padding: 0;
}
.project__media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 0;
}

.techstack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  max-width: 100%;
  padding: 50px 20px;
}
.techstack h2 {
  text-align: center;
}
.techstack__list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, minmax(80px, 1fr));
  height: fit-content;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 50px 0;
}
.techstack__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.techstack__item img {
  max-height: 30px;
  border-radius: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  width: 100vw;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.dark-mode {
  background-color: black;
  color: white;
}
.dark-mode a,
.dark-mode h1,
.dark-mode h2,
.dark-mode p,
.dark-mode span,
.dark-mode li {
  color: white;
}
.dark-mode #socials svg {
  max-height: 100%;
  max-width: 100%;
  fill: white;
}
.dark-mode button {
  border: none;
  color: white;
}
.dark-mode button:hover {
  background-color: white;
  color: black;
}

section {
  height: fit-content;
  min-width: 250px;
}

button {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  border-radius: 20px;
  display: flex;
  justify-items: center;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid black;
  margin: 0 0.2rem;
  fill: white;
}
button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: "Space Mono", monospace;
}
a:hover {
  text-decoration: underline;
  color: #70bd9a;
}

h1 {
  padding: 50px 5%;
  text-align: center;
  color: #2f3328;
  font-family: "Silkscreen", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

h2 {
  padding: 30px 5%;
  color: #2f3328;
  width: 100%;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 200%;
  margin: 2%;
}

p {
  height: fit-content;
  width: fit-content;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/*# sourceMappingURL=style.css.map */
