/* SCSS HEX */
a {
  padding: 2px 5px 2px 5px;
  color: #2f3328;
  text-decoration: none;
}
a:hover {
  color: #70bd9a;
}

#home-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#skip-button {
  text-align: center;
  border-radius: none;
  filter: brightness(0.8);
  background: none;
  border: none;
}
#skip-button:hover {
  color: #d5d9b4;
  transform: scale(1.05);
}
#skip-button:hover ::shadow {
  padding: 20px 40px;
}
#skip-button p {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 40%;
  width: 100px;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0;
  text-shadow: 0 5px 16px #000;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 200%;
  margin: 2%;
}

img {
  border-radius: 20px;
  max-height: 100%;
  max-width: 100%;
  width: fit-content;
  object-fit: contain;
}

#personal-logo {
  max-height: 30px;
}

.techstack__item img {
  max-height: 30px;
}

.type {
  color: rgba(0, 0, 0, 0);
  background: linear-gradient(-90deg, #000000 5px, rgba(0, 0, 0, 0) 0) 10px 0, linear-gradient(#000000 0 0) 0 0;
  background-size: calc(var(--n) * 1ch) 200%;
  -webkit-background-clip: padding-box, text;
  background-clip: padding-box, text;
  background-repeat: no-repeat;
  animation: blink 0.7s infinite steps(1), type calc(var(--n) * 0.05s) steps(var(--n)) forwards;
}

@keyframes type {
  from {
    background-size: 0 200%;
  }
}
@keyframes blink {
  50% {
    background-position: 0 -100%, 0 0;
  }
}
.appear {
  opacity: 0;
  animation: appear 1.5s 2s forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d5d9b4;
  height: fit-content;
  padding: 50px 0px;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .about {
    padding: 40px;
  }
}
@media only screen and (min-width: 900px) {
  .about {
    padding: 60px;
  }
}
.about__aside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.about__aside img {
  max-width: 300px;
  margin: 50px;
}
.about__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 8px;
}
.about__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 30px;
  width: fit-content;
  min-width: 300px;
  max-width: 30%;
}

#contact {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

#contact-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#contact-wrapper a {
  background-color: #d5d9b4;
  width: 200px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
  padding: 15px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2vw;
  gap: 2vw;
}
footer img {
  max-height: 20px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 1vh;
  height: 5vh;
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: white;
  display: none;
}
@media only screen and (min-width: 900px) {
  nav {
    display: flex;
  }
}
nav a {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 98vh;
  width: 100vw;
  margin: 0px;
  padding: 2em;
}
header h1 {
  margin-bottom: 0.5em;
  font-size: 3rem;
  display: block;
  width: 100%;
}
header h2 {
  display: block;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

#projects {
  height: fit-content;
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#projects h1 {
  color: #d5d9b4;
}
#projects ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
#projects p {
  color: #d5d9b4;
  padding: 10px 0px;
}
#projects a {
  color: white;
  text-decoration: none;
}
#projects a:hover {
  text-decoration: underline;
  color: #70bd9a;
}

.project__title {
  color: #d5d9b4;
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.projects__card {
  border: 1px solid #2f3328;
  border-radius: 10px;
  overflow: hidden;
  transition: background-color 0.3s;
  margin: 15px;
}
.projects__card:hover {
  background-color: rgba(112, 112, 112, 0.271);
}
.projects__card figcaption {
  display: none;
}

.project__tech {
  display: block;
  font-size: 0.8em;
  color: #d5d9b4;
}

.project__body {
  padding: 1em 2.5em;
}

.project__media {
  height: 300px;
  padding: 0px;
  margin: 0px;
}
.project__media-link {
  padding: 0px;
}
.project__media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 0px;
}

.techstack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: fit-content;
  padding: 50px 20px;
}
.techstack h2 {
  text-align: center;
}
.techstack__list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, minmax(80px, 1fr));
  flex-wrap: wrap;
  max-width: 100%;
  height: fit-content;
  margin: 50px 0px;
}
.techstack__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.techstack__item img {
  max-height: 30px;
  border-radius: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  width: 100vw;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

section {
  height: fit-content;
  min-width: 250px;
}

.img-wrapper {
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#button-wrap {
  margin: 10% 15% 10% 15%;
}

button {
  border-radius: 20px;
}

h1 {
  padding: 50px 5%;
  text-align: center;
  color: #2f3328;
  font-family: "Silkscreen", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

h2 {
  padding: 30px 5%;
  color: #2f3328;
  width: 100%;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 200%;
  margin: 2%;
}

a,
p {
  height: fit-content;
  width: fit-content;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

#logo-text {
  width: fit-content;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
