
@use "./partials/colors";
@use "./partials/fonts";
@use "./partials/mixins";


*{
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    padding: 0;
    margin: 0;
}

header {
    // border: variables.$red-border;
    @include mixins.flex-center;
    height: auto;
    background-color: variables.$beige;
    margin: 0px;
    
}

.img-wrapper {
    // border: variables.$green-border;
    padding: 2px;
    height: 100%;
    @include mixins.flex-center;
    overflow: hidden;
    
}

img {
    height: auto;
    object-fit: contain;
    
}

.half1 {
    // border: variables.$green-border;
    min-width: 33.3%;
    height: 50vh;
    @include mixins.flex-center;
}

.half2 {
    // border: variables.$green-border;
    @include mixins.flex-center;
    width: 66.6%;
    height: 50vh;
    padding: 20px 5px 20px 5px;
    // gap: 10px;
    
    
}


h2,h1 {
    margin: 8px;
    text-align: center;
    color: variables.$black-olive;
}

.CTA-button{
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    margin: 25px;
}

