
@use "./partials/colors";
@use "./partials/fonts";
@use "./partials/mixins";


*{
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    padding: 0;
    margin: 0;
}

header {
    // border: variables.$red-border;
    @include mixins.flex-center;
    height: auto;
    // background-color: colors.$mint;
    margin: 0px;
}

nav {
    border: 1px dotted red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    .nav-wrapper {
        border: 1px solid darkblue;
        display: flex;
        flex-direction: row;
        gap: 5px;
        width:33.3%;
        height: 100%;
        flex-wrap: wrap;
    }
}


.title {
    justify-self: center;
    border: 1px solid darkblue;

    
}

a {
    text-decoration: none;
    
}



.half1 {
    // border: variables.$green-border;
    min-width: 33.3%;
    height: 45vh;
    @include mixins.flex-center;
}



.img-wrapper {
    padding: 2px;
    height: 100%;
    width: 100%;
    @include mixins.flex-center;
    overflow: hidden;
    
}

img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
    
}


.half2 {
    // border: variables.$green-border;
    @include mixins.flex-center;
    width: 66.6%;
    height: 55vh;
    padding: 20px 5px 20px 5px;
    // gap: 10px;
    
    
}


h2,h1 {
    margin: 15px;
    text-align: center;
    color: colors.$black-olive;
}

.CTA-button{
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    margin: 25px;
}

