//import partials
@use "../partials/colors";
@use "../partials/fonts";
@use "../partials/mixins";

.about {
  @include mixins.flex-center;
  background-color: colors.$beige;
  height: fit-content;
  padding: 50px 0px;
  width: 100%;

  &__aside {
    @include mixins.flex-center(row);
    flex-wrap: wrap;

    img {
      max-width: 300px;
      margin: 50px;
    }
  }

  &__img-wrapper {
    // image wrapper styles (copied from .img-wrapper utility)
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
  }

  &__text-wrapper {
    //alignment
    @include mixins.flex-center();
    flex-wrap: wrap;
    //spacing
    padding-bottom: 30px;
    //sizing
    width: fit-content;
    min-width: 300px;
    max-width: 30%;
  }
}
