//import partials
@use "../partials/colors";
@use "../partials/fonts";
@use "../partials/mixins";
@use "../partials/media-queries" as mq;

.about {
  @include mixins.flex-center;
  @include mixins.full-width;
  @include mixins.fit-content;
  @include mixins.section-padding(50px 0, 40px, 60px);

  &__aside {
    @include mixins.flex-center(row);
    flex-wrap: wrap;
    img {
      max-width: 300px;
      margin: 50px;
    }
  }

  &__img-wrapper {
    @include mixins.flex-center;
    @include mixins.card-style(8px, none);
    overflow: hidden;
  }

  &__text-wrapper {
    @include mixins.flex-center;
    flex-wrap: wrap;
    padding-bottom: 30px;
    width: fit-content;
    min-width: 300px;
    max-width: 30%;
  }
}
