//import partials
@use "../partials/colors";
@use "../partials/fonts";
@use "../partials/mixins";



#about {
    padding: 80px 5% 150px 5%;
    background-color: colors.$beige;
    height: fit-content;
    width: 100%;

    .whole-wrap{
        @include mixins.flex-center(row);
        flex-wrap: wrap;
        // border: 1px solid red;
        max-width: 100%;
        height:fit-content;
        
    }
    
}

