//Import partials
@use "../partials/colors";
@use "../partials/fonts";
@use "../partials/mixins";

.contact {
  @include mixins.flex-center;
  @include mixins.full-width;
  @include mixins.full-height;

  @include mixins.section-padding(50px 0, 40px, 60px);

  h2 {
    text-align: center;
  }

  ul {
    @include mixins.flex-center;
    flex-wrap: wrap;

    li {
      @include mixins.flex-center;

      a {
        @include mixins.full-width;
        @include mixins.flex-center(row);
        @include mixins.card-style(20px);
        max-width: 400px;
        margin: 10px;
        padding: 40px;
        text-indent: 10px;
        font-size: large;
      }
    }
  }
}
