//Import partials
@use "../partials/colors";
@use "../partials/fonts";
@use "../partials/mixins";

.contact {
  @include mixins.flex-center;
  @include mixins.full-width;
  @include mixins.full-height;
  @include mixins.section-padding(50px 0, 40px, 60px);
  background-color: black;

  h1 {
    text-align: center;
    color: white;
    font-size: 200%;
  }

  ul {
    @include mixins.flex-center(row);
    flex-wrap: wrap;
    width: 100%;

    li {
      @include mixins.flex-center(row);
      flex-wrap: wrap;

      a {
        gap: 20px;
        @include mixins.flex-center(column);
        margin: 10px;
      }

      svg {
        min-width: 100px;
        min-height: 100px;
        min-width: 20px;
        min-height: 150px;
        fill: currentColor;
      }
    }
  }
}
