
@use "../partials/colors";
@use "../partials/fonts";
@use "../partials/mixins";




#footer {
    // border: 1px dotted red;
    @include mixins.flex-center;
    text-align: center;
    padding: 2vw;
    gap: 2vw;
}


