//import partials
@use "../partials/colors";
@use "../partials/fonts";
@use "../partials/mixins";


header {
    // border: red 1px solid;
    @include mixins.flex-center(row);
    flex-wrap: wrap;
    height: 96vh;
    width: 100vw;
    margin: 0px;
    
  

}

 #button-wrap{
        margin: 10% 15% 10% 15%;
        
    }
    


