//import partials
@use "../partials/colors";
@use "../partials/fonts";
@use "../partials/mixins";


#header {
    // border: variables.$red-border;
    @include mixins.flex-center;
    height: auto;
    // background-color: colors.$mint;
    margin: 0px;

    .fullHeight{height: 45vh;}
    
}




