
@use "../partials/colors";
@use "../partials/fonts";
@use "../partials/mixins";


#navbar {
    // border: 1px dotted red;
    @include mixins.flex-center(row);
    justify-content: space-between;
    padding: 2%;

    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: white;

    .nav-wrapper {
        // border: 1px solid darkblue;
        display: flex;
        flex-direction: row;
        gap: 5px;
        height: 100%;
        max-width: 100%;
        justify-content: space-between;
    }
}








