
@use "../partials/colors";
@use "../partials/fonts";
@use "../partials/mixins";


nav {
    // border: 1px dotted red;

    //alignment
    @include mixins.flex-center(row);
    justify-content: space-between;
    padding: 1vh;
    height: 5vh;

    //sticky nav
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: white;
}


.nav-wrapper {
        // border: 1px solid darkblue;

        //alignment
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        //spacing
        gap: 5px;

        //sizing
        height: fit-content;
        max-width: 100%;
    }





