@use "../partials/colors";
@use "../partials/fonts";
@use "../partials/mixins";
@use "../partials/media-queries" as mq;

nav {
  // border: 1px dotted red;

  //alignment
  @include mixins.flex-center(row);
  justify-content: space-between;
  padding: 1vh;
  height: 5vh;

  //sticky nav
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: white;

  display: none;
  //hide
  @include mq.laptop-up {
    display: flex;
  }

  a {
    @include fonts.space-mono;
  }
}
