@use "../partials/colors";
@use "../partials/fonts";
@use "../partials/mixins";
@use "../partials/media-queries" as mq;

.nav {
  // border: 1px dotted red;

  //alignment
  @include mixins.flex-center(row);
  justify-content: space-between;
  padding: 1vh;
  height: 5vh;

  //sticky nav
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: white;

  // display: none;
  //hide
  @include mq.laptop-up {
    display: flex;
  }

  p {
    @include fonts.space-mono;
    text-decoration: none;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
  }

  div {
    @include mixins.flex-center(row);
    height: 100%;
  }

  &_links,
  &_socials,
  &_buttons {
    @include mixins.flex-center(row);
  }
  &_links {
    @include fonts.space-mono;
    text-decoration: none;
    padding: 10px;
  }

  &_socials {
    @include mixins.flex-center(row);
    height: 100%;
  }

  &_buttons {
    @include mixins.flex-center(row);
  }
}
