//import partials
@use "../partials/colors";
@use "../partials/fonts";
@use "../partials/mixins";

#projects {
  height: fit-content;
  background-color: colors.$black;
  h1 {
    color: colors.$beige;
  }
  width: 100%;
  @include mixins.flex-center;

  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }

  p {
    color: colors.$beige;
    padding: 10px 0px;
  }
  a {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: colors.$mint;
    }
  }
}

.project__title {
  color: colors.$beige;
  @include fonts.dotgothic16-regular;
}

.projects__card {
  border: 1px solid colors.$black-olive;
  border-radius: 10px;
  overflow: hidden;
  transition: background-color 0.3s;

  &:hover {
    background-color: rgba(112, 112, 112, 0.271);
  }

  figcaption {
    display: none;
  }

  margin: 15px;
}

.project__tech {
  display: block;
  font-size: 0.8em;
  color: colors.$beige;
}

.project__body {
  padding: 1em 2.5em;
}

.project__media {
  height: 300px;

  &-link {
    padding: 0px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 0px;
  }
  padding: 0px;
  margin: 0px;
}
