//import partials
@use "../partials/colors";
@use "../partials/fonts";
@use "../partials/mixins";

#projects {
  @include mixins.fit-content;
  @include mixins.full-width;
}

.projects {
  &__list {
    list-style: none;
    @include mixins.grid-container(500px);
    @include mixins.fit-content;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 50px 0;
  }
  &__card {
    @include mixins.card-style;
    @include mixins.hover-effect;
    @include mixins.flex-center(column);
    border: 1px solid colors.$black-olive;
    overflow: hidden;
    margin: 15px;

    figcaption {
      display: none;
    }
  }
}

.project {
  &__title {
    @include fonts.dotgothic16-regular;
  }

  &__tech {
    display: block;
    font-size: 0.8em;
    font-weight: 200;
    padding-top: 1em;
    @include mixins.flex-center(column);
  }

  &__body {
    padding: 1em 2.5em;
    text-align: center;
    @include mixins.flex-center(column);
  }

  &__media {
    height: 300px;
    @include mixins.reset-spacing;

    &-link {
      padding: 0;
    }
    img {
      @include mixins.image-fill;
      object-position: top;
      border-radius: 0;
    }
  }
}
