//import partials
@use "../partials/colors";
@use "../partials/fonts";
@use "../partials/mixins";


.techstack {
    //alignment
    @include mixins.flex-center(row);
    flex-wrap: wrap;
    //sizing
    max-width: 100%;
    //spacing
    padding: 10% 5%;
    gap: 30px;
    margin-bottom: 50px;
    
    &__item {
        //alignment
        @include mixins.flex-center;
    }
}


// #stacks {
//     @include mixins.flex-center(row);
//     max-width: 100%;
//     padding: 5% 5% 15% 5%;
//     flex-wrap: wrap;
//     justify-content: space-evenly;
// }

// .stack-card {
//     @include mixins.flex-center;
//     max-width: 100%;
//     width: fit-content;
//     height: fit-content;
//     padding: 10px;
//     flex-wrap: wrap;
    
// }