//import partials
@use "../partials/colors";
@use "../partials/fonts";
@use "../partials/mixins";


#stack {
    @include mixins.flex-center(row);
    flex-wrap: wrap;
    max-width: 100%;
    padding: 5% 5% 15% 5%;
    justify-content: space-evenly;
}

.stack-card {
    @include mixins.flex-center;
    
    width: 100px;
    height: fit-content;
    padding: 100px;
}

i{
    scale: 300%;
    width: fit-content;
    height: fit-content;
    padding: 10px;
}